@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

:root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

html, body {
  overflow-x: hidden;
  height: 100%;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
  
  --color-app-bg: #0F1115;
  --color-app-card: #171A21;
  --color-brand-primary: #7C5CFF;
}

@layer base {
  body {
    @apply font-sans antialiased bg-[#0F1115] text-white selection:bg-[#7C5CFF] selection:text-white;
    color-scheme: dark;
  }
  input, textarea, select {
    font-size: 16px !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
