@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

html, body {
  overflow: hidden;
  height: 100%;
}

@theme {
  --font-sans: "Plus Jakarta Sans", "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
  
  --color-app-bg: #0B0B0F;
  --color-app-card: #171922;
  --color-app-card-sec: #1C1F2A;
  --color-brand-primary: #6C5CE7;
  --color-brand-hover: #7B6EFF;
  --color-text-sec: #A3A8B8;
  --color-border-discreet: rgba(255, 255, 255, 0.05);
}

@layer base {
  body {
    @apply font-sans antialiased bg-app-bg text-white selection:bg-brand-primary selection:text-white;
    color-scheme: dark;
  }
  input, textarea, select {
    font-size: 16px !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
